
@import '../../scss/variables.scss';


.main-login{
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-self: center;
    padding: 1.5rem;
    background-image: url('https://images.pexels.com/photos/6740059/pexels-photo-6740059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;

    form{
        width: 100%;
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        background-color: $background-color;
        padding:1.5rem;
        border-radius: 1rem;
        box-shadow:$box-shadow;
        max-width: 500px;
        margin: auto;

        .logo{
            width: 100%;
            justify-self: center;
        }

        .title-login{
            display: flex;
            flex-direction:row;
            justify-content:center;
            h2{
                font-size: 2rem;
                color: $color-text;
            }
            .icon{
                font-size: 2rem;
                color: $primary;
                margin-left: 1rem;
                display: flex;
                align-items: center;
            }
        }
    
        .container-input{
            width: 100%;
            label{
                font-size: 1.2rem;
                color: $color-text;
            }
        
            input{
                width: 100%;
                height:2rem;
                border-radius: 0.5rem;
                border:none;
                margin: 0.3rem 0 1rem 0;
                padding-left: 1rem;
                font-family: 'Bellota Text', cursive;
                font-size: 1.2rem;
            }
            input::placeholder{
                font-size: 1rem;
            }
        }
    
        
    
        button{
            font-family: 'Bellota Text', cursive;
            font-size: 1.5rem;
            background-color: $hover-background;
            color: $primary;
            display: flex;
            justify-content:center;
            align-items: center;
            margin-top: 1rem;
            width: 40%;
            height:2.5rem;
            border-radius: 5rem;
            border:none;
            align-self: center;
            box-shadow: $box-shadow;
            transition-duration: 0.3s;
        }
        button:hover{
            background-color: $secondary;
            color: $color-white;
            transition-duration: 0.3s;
        }
    }
    
    a{
        font-size: 1.2rem;
        text-decoration: none;
        text-align: center;
        margin-top:1rem;
        color: $primary;
    }
}
