
$primary-petrol: #1D5668;
$primary-red: #FF665A;
$primary-yellow: #FFF587;
$primary-blue: #007397;
$primary-aqua: #DEEAF5;
$white-color: #FFFF;
$secondary-green: #BACCCD;

.Profile{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background-color: $primary-petrol;
    color: $white-color;
    border-radius:1rem;
    border-radius: 1rem;
    padding: 2%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 5%;

    img{
        background-color: $primary-yellow;
        border-radius: 10rem;
        padding:0.5rem;
        width: 10%;
    }

    h2{
        font-size: 2rem;
        text-align: center;
        margin-top: 1rem;
    }


    .profile-info{
        width: 100%;

        .info{
            font-size: 1.3rem;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $primary-red;
        }
    }

    
}