@import '../../../scss/variables.scss';

.card-status{
    display: flex;
    justify-content:space-between;
    margin-top: 1rem;

    .status{
        width: 32%;

        h2{
            background-color: $primary-blue;
            color: $white-color;
            text-align: center;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }

}
