@import '../../scss/variables.scss';

.main-primary{
    display: flex;
    flex-direction: column;
    padding:0% 10%;
    align-items: center;
    justify-content:center;
    margin-top: 2rem; 

    h2{
        color: $color-text;
        width:30%;
        font-size:2rem;
        border-bottom: 1px solid $primary;
        margin-bottom: 2rem;
        align-self: flex-start;
    }
}

