
$primary-petrol: #1D5668;
$primary-red: #FF665A;
$primary-yellow: #FFF587;
$primary-blue: #007397;
$primary-aqua: #DEEAF5;
$white-color: #FFFF;
$secondary-green: #BACCCD;

.card-sport{
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: $primary-yellow;
    padding: 2%;
    border-radius: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 5%;


    .titile-food{
        background-color: $primary-petrol;
        color:$primary-aqua;
        width: 100%;
        text-align: center;
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;

    }

    .week{
        text-align: center;
        font-size: 1.6rem;
        color: $primary-petrol;
        margin-bottom: 0.5rem;
    }

    .days{
        display: flex;
        background-color:$primary-aqua;
        justify-content:space-between;
        border-radius: 0.5rem;
        padding: 1%;
    }

    .food{
        background-color:$primary-red;
        color:$primary-petrol;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin: 0.5rem;

        h4{
            text-align: center;
        }
    }
}
