
$primary-petrol: #1D5668;
$primary-red: #FF665A;
$primary-yellow: #FFF587;
$primary-blue: #007397;
$primary-aqua: #DEEAF5;
$white-color: #FFFF;
$secondary-green: #BACCCD;

.main-primary{
    background-color: $primary-aqua;
    display: flex;
    flex-direction: column;
    padding:2% 15%;
    align-items: center;
    margin-top: 100px;
}