@import '../../../scss/variables.scss';

.header-secondary{
    margin: 4.5rem 0rem 2rem 0rem;
    height: 25rem;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    padding: 2rem 3rem 2rem 3rem;
    border-bottom: 2px solid $primary;
    background: 
    linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)
    ), url('../../../assets/images/pexels-mikhail-nilov-6740041\ 1.png');
    background-size:cover;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position:center; 

    .header-text{
        display: flex;
        justify-content:center;
        align-items: flex-end;
        flex-direction:column;
        color: $color-white;
        text-align: center;
        font-size: 1.2rem;
        

        h1{
            width: 25%;
            height:100%;
            display: flex;
            flex-direction: column;
            justify-content:center;
            margin-bottom: 2rem;
            line-height:2.7rem;
            margin-right: 5rem;
            span{
                font-size: 5rem;
                color: $color-white;
            }

            .health-text{
                align-self: flex-end;
            }

            .and{
                color:$primary;
                align-self: center;
            }
        }
    }
    
}

