$tertiary: #219ebc;
$primary: #219ebc;
$secondary: #023047;
$quaternary: #ffb703;
$quinary: #fb8500;


.header-primary{
    width: 100%;
    height: 100px;
    background-color:$secondary; 
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    top:0;
    left:0;
    


    ul{
        display: flex;
        align-items: center;
        flex-direction: row;
        list-style-type: none;

        li{
            margin-left: 120px;
            color:$quaternary;

        }

        li:hover{
            color:$quinary;
        }

        img{
            width: 30px;
            margin-right: 10px;
        }
    }
}

