//-----VARIABLES------

$primary: #f94144;
$secondary: #f3722c;
$tertiary: #f8961e;
$quaternary: #f8961e;
$quinary: #90be6d;
$six: #43aa8b;
$seven: #577590;

$primary-petrol: #1D5668;
$primary-red: #CC3E53;
$primary-yellow: #FED51C;
$primary-blue: #007397;
$primary-aqua: #DEEAF5;
$white-color: #FFFF;

$primary-petrol: #1D5668;
$primary-red: #FF665A;
$primary-yellow: #FFF587;
$primary-blue: #007397;
$primary-aqua: #DEEAF5;
$white-color: #FFFF;
$secondary-green: #BACCCD;


