@import '../../scss/variables.scss';

.sing-up{
    height:100vh;
    background-image: url('https://images.pexels.com/photos/6740059/pexels-photo-6740059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
    
    form{
        width: 100%;
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-self: center;
        background-color: #ffffff10;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter:blur(12px);
        padding:1.5rem;
        border-radius: 1rem;
        color: $color-white;
        max-width: 500px;
        margin: auto; 
        box-shadow: $box-shadow;
        
        h2{
            text-align: center;
            font-size: 2rem;
        }
        
        .container-input-select{
            font-size: 1rem;
            
    }
    
}
}
